/* Estilo personalizado para Sofom Cloud */

/* Azul oscuro para barra superior y lateral */
.md-header{
    background-color: #1D3557 !important; /* azul profundo */
}

/* Color del texto en menú lateral */
.md-nav__item a {
    color: #000000 !important;
}

/* Color de texto al pasar el mouse */
.md-nav__item a:hover {
    color: #230441 !important; /* verde Sofom */
}

/* Aumentar ancho del contenido */
.md-main__inner {
    max-width: 100%;
}

/* Fondo más claro para área de contenido */
.md-content {
    background-color: #f9fbfc;
}
